{% extends "layout.html" %}

{% block pageTitle %}
  Question page
{% endblock %}

{% block beforeContent %}
  <a class="govuk-back-link" href="/juggling-trick">Back</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">Upload juggling evidence</h1>

      <form class="form" action="/check-your-answers" method="post">

        <div class="govuk-form-group" style="border: 4px lightgray dashed; padding: 30px;">
          <label class="govuk-label" for="juggling-evidence-1">
            Upload a file
          </label>
          <input class="govuk-file-upload" id="juggling-evidence-1" name="juggling-evidence" type="file">
        </div>
        <p>
          You have uploaded: {{ data['juggling-evidence'] | default('No file uploaded') }}
      </p>
        <button class="govuk-button">Continue</button>

      </form>

    </div>
  </div>

{% endblock %}
